.hulk {
 font-size: 120%;
}

.color {
  color: blue;
}

.wrap {
  border: 2px solid red;
}

.round {
 border-radius: 15px;
}

.boldSection{
  font-weight: bold;
}

.lastSection{
  font-weight: bold;
  font-style: italic;
}

.blockButton{
  display: block;
  margin: 5% auto;
}